html {
    background: #fff;
}

body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

body, button, input, select, textarea {
    font: 12px/1.5 "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "å¾®è½¯°å…é»‘", Tahoma, Arial, STHeiti, sans-serif;
}

input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: inherit;
}

caption, th {
    text-align: left;
}

fieldset, img {
    border: 0;
}

iframe {
    display: block;
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}

ol, ul {
    list-style: none;
}

q:before, q:after {
    content: '';
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ins, a {
    text-decoration: none;
}
a {
    color: #333;
}

a:hover {
    color: #444;
}

a:focus {
    outline: 0;
}

/* tools*/
body .hidden {
    display: none;
}

.hide {
    display: block;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999em
}

.left, .right {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.more {
    float: right;
    font-size: 12px;
    display: inline;
    padding-top: 5px;
}

.clear {
    clear:both;
}

.center {
    text-align: center;
    font-size: 12px;
}

.cf:before, .cf:after {
    content: "";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    *zoom: 1;
}

.notextsize {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.wordbreak {
    word-break: break-word;
    overflow: hidden;
}

#page {
    width: 950px;

    margin: auto;
}

#header {
    width: 100%;
    height: 108px;
    background-image: url("/assets/images/bg_bottom.jpg");
    background-repeat: repeat-x repeat-y;
    background-position: top right;
}

#logo {
    margin-left: 20px;
}
#logo_name {
    margin-bottom: 10px;
}
#banner {
    width: 100%;
    height: 272px;
    background-image: url("/assets/images/bg_banner_big.jpg");
    text-align: center;
}

#main .bg_gray {
    width: 950px;
    height: 118px;
    background-color: #F0F0F0;
}

#menu {
    margin-left: 0px;
    padding-top: 20px;
}

#menu li a {
    color: #E0EEE0;
}

#menu li a:hover {
    color: orange;
}

#index_banner {
    margin:20px auto;
    width: 800px;
    height: 250px;
}

#content {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

#content #info {
    width: 330px;
    background-image: url("/assets/images/bg_news_left.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    float: left;
}

#content #info ul {
    width: 70px;
    margin-left: 30px;
    margin-right: 15px;
    float: left;
}

#content #info ul li {
    font-size: 14px;
    height: 34px;
    text-align: center;
    background-image: url("/assets/images/bg_line.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
}

#content #info ul .bottom {
    background: none;
}

#content #info div {
    font-size: 13px;
    text-indent: 2em;
    padding: 10px;
    line-height: 28px;
    word-spacing: 20px;
    letter-spacing:2px;
}

#content #news {
    width: 330px;
    background-image: url("/assets/images/bg_news_left.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    float: left;
    padding-left: 20px;
}

#content #news #news_head {
    border-bottom: 2px solid #333;
}

#content #news #news_head span {
    font-size: 18px;
}

#content #news ul {
    font-size: 14px;
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
}

#content #news ul li {
    height: 26px;
}

#content #vedio {
    float: right;
}

#content #main {
    float: left;
}

#content #left {
    width: 250px;
    float: right;
}

#activity {
    width: 680px;
    height: 300px;
    border: 1px solid #ccc;
    float: left;
}

#activity_head {
    width:100%;
    height: 25px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
#activity_head span {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

#activity ul li {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    width: 150px;
    height: 260px;
    text-align: center;
}

#activity ul li img {
    width: 150px;
    height: 230px;
}

#activity ul li div {

}

#links {
    width: 250px;
    float: right;
    height: 300px;
    border: 1px solid #ccc;
}

#links ul {
    padding: 10px;
}

#links ul li {
    padding-left: 10px;
    line-height: 30px;
}

#footer {
    width: 100%;
    height: 61px;
    margin-top: 20px;
    background-image: url("/assets/images/bg_bottom.jpg");
    background-repeat: repeat-x;
}



