---
layout: default
---
<div class="j_post">            
	<h1 class="j_post_title">{{ page.title }}</h1>
	<div class="j_post_main">
         <img src="{{ site.ASSET_PATH }}/{{ page.picurl }}" alt="" />
         {{ content }}
	</div>                            
</div>
<div class="j_post j_post_ads">
    <a href=""><img src="http://m2.img.libdd.com/farm4/2012/1206/20/730CBFD2CD0E2D3EBE2CFBC024C311497B8F1BC7D8129_200_80.JPEG" /></a></div>
<div class="j_post j_post_ads">
    <a href=""><img src="http://m2.img.libdd.com/farm5/2012/1121/20/E4B41703D87072AAF8B173EAF0D7F654652A7A4B94B0F_200_80.GIF" /></a>
</div>
<div class="j_post j_post_ads">
    <a href=""><img src="http://m3.img.libdd.com/farm4/2013/0306/13/8FC3DC88959B2238272B2077B2AC4803FC66E56616365_200_80.JPEG" /></a>
</div>
<div class="j_post j_post_ads">
    更多广告
</div>