---
layout: default
---
{% if page.category == "news" %}
<div><a href="/index.html">首页</a> >> <a href="/news.html">新闻</a> >> {{ page.title }}</div>
{% else %}
<div><a href="/index.html">首页</a> >> <a href="/activity.html">活动</a> >> {{ page.title }}</div>
{% endif %}
<div class="j_post">            
	<h1 class="j_post_title">{{ page.title }}</h1>
	<div class="j_post_main">
         <img style="width:600px;" src="{{ site.ASSET_PATH }}/{{ page.picurl }}" alt="" />
         {{ content }}
	</div>                            
</div>